@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Outfit:wght@400;700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

*,
*::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: unset;
    background-color: var(--LightGray);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    display: grid;
    place-items: center;
    min-height:100vh;
}

.container{
    background-color: var(--White);
    max-width: 320px;
    padding: 1.075rem;
    margin: 1.075rem;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsla(0,0,0,0.05);
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 0.675rem;
}

h1{
    font-size: 1.375rem;
    line-height: 1.275;
    margin-top: 1.1em;
    color: var(--DarkBlue);
}

p{
    line-height: 1.3;
    color: var(--GrayishBlue);
    margin: 1.075rem;
}